* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

main {
    padding: 25px;
}


/* *****************
NAVIGATION
***************** */
#nav-container {
    background-color: #fff;
    border-bottom: solid 0.5px darkgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 35px;
}

.nav-links {
    text-decoration: none;
    color: gray;
    padding: 0 10px;
    transition: 0.3s;
    
}

.nav-links:hover {
    color: #000;
}


/* *******************
HOME PAGE
******************* */
#img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.header-title {
    font-size: 60px;
    padding-bottom: 10px;
}

.headshot-pic {
    width: 40vw;
    max-width: 500px;
    border-radius: 15px;
    outline: auto;
    margin: 20px 0;
}

.text-title {
    padding-top: 10px;
    text-align: center;
    width: 40vw;
}


/* ****************
PROJECTS PAGE
**************** */

#project1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    flex-direction: column;
    padding: 40px 0 60px 0;
}

.pic1-header {
    font-size: 60px;
    padding-bottom: 10px;
}

.project-one-pic {
    width: 50vw;
    max-width: 500px;
    padding-bottom: 40px;
}

.pic1-text {
    text-align: center;
    width: 80vw;
    max-width: 600px;
}

#project2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    flex-direction: column;
}

.pic2-header {
    font-size: 60px;
    padding: 10px 0 20px 0;
}

.pic2-settings {
    width: 40vw;
    max-width: 500px;
    padding-bottom: 10px;
}

.pic2-text {
    text-align: center;
    width: 80vw;
    max-width: 600px;
    padding: 20px 0 80px 0;
}


/* *************
ABOUT PAGE
************* */
.about-me-video {
    width: 80vw;
    padding: 15px;
    margin: 15px;
    background-color:black;
    margin-bottom: 80px;
}


/*************
CONTACT PAGE
*************/ 

.contactHeader,
.nameInput,
.emailInput,
.phoneInput {
    padding-bottom: 20px;
}

.gradient-bg {
    background: linear-gradient(#e66465, #9198e5);
}


/* ***************
FOOTER STYLES
*************** */

#footer-container {
    position: fixed;
    bottom: 0;
    border-top: solid 0.5px darkgray;  
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

#footer-container a {
    color:grey;
    transition: 0.3s;
}

#footer-container a:hover {
    /* transform: scale(0.7); */
    opacity: 0.7;
}

.fa-xl {
    margin: 25px 7px 10px 7px;
}

#footer-container-two {
    
    border-top: solid 0.5px darkgray;  
    width: 100%;
    text-align: center;
    padding: 15px 0;
}

#footer-container-two a {
    color:grey;
    transition: 0.3s;
}

#footer-container-two a:hover {
    /* transform: scale(0.7); */
    opacity: 0.7;
}

/* *************
MEDIA QUERIES 
************* */

@media screen and (max-width: 1100px) {
    .header-title {
        font-size: 40px;
    }

    .text-title {
        width: 65vw;
    }

    .pic1-header,
    .pic2-header {
        font-size: 40px;
    }

    .gradient-bg {
        background: linear-gradient(135deg, orange 60%, cyan);
    }
}







