* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
}

main {
    padding: 25px;
}


/* *****************
NAVIGATION
***************** */
#nav-container {
    background-color: #fff;
    border-bottom: solid 0.5px darkgray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 35px;
}

.nav-links {
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}


/* *******************
HOME PAGE
******************* */
#img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-direction: column;
}

.header-title {
    font-size: 30px;
    padding-bottom: 10px;
}

.headshot-pic {
    width: 40vw;
    max-width: 500px;
    border-radius: 15px;
    outline: auto;
}

.text-title {
    padding-top: 10px;
    justify-content: center;
    flex-direction: column;
}


/* ****************
Projects page
**************** */

#project1-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px; */
    flex-direction: column;
    padding-bottom: 100px;
}

.pic1-header {
    font-size: 30px;
    padding-bottom: 10px;
}

.project-one-pic {
    width: 40vw;
    max-width: 500px;
    padding-bottom: 40px;
}

.pic1-text {
    text-align: center;
    width: 80vw;
    max-width: 600px;
}

#project2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100px; */
    flex-direction: column;
}

.pic2-header {

}

.pic2-settings {
    width: 30vw;
    max-width: 500px;
    
}

.pic2-text {
    text-align: center;
    width: 80vw;
    max-width: 600px;
}


/* *************
ABOUT PAGE
************* */
.exampleRule {

}


/*************
CONTACT PAGE
*************/ 

.contactHeader {
    padding-bottom: 20px;
}

.nameInput {
    padding-bottom: 20px;
}

.emailInput {
    padding-bottom: 20px;
}








